<!-- views/easypay.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>결제</title>
  </head>

  <script>

  var failed_url = "/checkout/payment-response/failed";
	var success_url = "/checkout/payment-response/success";

  function init(){
    var reUrl =  '<%- reUrl %>';
    window.location.href = reUrl + success_url;
  }
  init();
  </script>

  <body>
    <h1>easypay loading
    </h1>
  </body>
</html>


